.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.profilePicture {
  border-radius: 50%
}

.profileName {
  margin: 0;
  padding-top: 20px;
  font-size: 30px;
}

.profileBio {
  margin: 0;
  font-size: 15px;
}